.map-container {
    width: 100%;
    height: auto;
}

.functions {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.search-container {
    flex: 1;
}

.map-img {
    width: 100%;
    display: block;
}